<header>
    <a class="logo" href="index.php">
        <img src="imgs/logo.png" alt="Logo del Ayuntamiento de Molvízar">
    </a>
    <div class="title">
        <h1>Incidencias ayuntamiento de Molvízar</h1>
    </div>
    <nav>
        <ol class="enlaces">
            <li><a href="#">E1</a></li>
            <li><a href="#">E2</a></li>
            <li><a href="#">E3</a></li>
        </ol>
    </nav>
</header>