* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;

    display: grid;
    grid-template-columns: 8vw 92vw;
    grid-template-rows: 10vh 84vh 6vh;
}

header{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    text-align: center;
    background-color: #86C754;

    display: grid;
    align-items: center;
    grid-template-columns: 25% 50% 25%;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;          
    overflow: hidden;      /
}

.logo img {
    max-width: 100%;       
    max-height: 80%;  
    object-fit: contain;   
}

.enlaces {
    list-style-type: none;
}

.contenido_noticia{
    margin-inline: 1%;
    margin-block: 1%;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display:grid;
    text-align: center ;
    grid-template-columns:100%;
    padding: 10px;
    overflow-y: auto;
}

.cabecera_noticia{
    display: grid;
    grid-template-columns: 55% 10% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    gap: 1%;
    border: 1.5px solid #86C754;
}

.titulo_noticia{
    grid-row-start: 1;
    grid-column-start: 1;
}

.tiktok{
    padding:5px;
    grid-row-start: 1;
    grid-column-start: 2;
}

.tiktok img{
    max-width: 30%;
    max-height: 30%;
    object-fit: contain;
}

.instagram{
    padding:5px;
    grid-row-start: 1;
    grid-column-start: 3;

}

.instagram img{
    max-width: 30%;
    max-height: 30%;
    object-fit: contain;
}

.twitter{
    padding:5px;
    grid-row-start: 1;
    grid-column-start: 4;
}

.twitter img{
    max-width: 30%;
    max-height: 30%;
    object-fit: contain;
}

.imprimir{
    padding:5px;
    grid-row-start: 1;
    grid-column-start: 5;
}

.imprimir img{
    max-width: 30%;
    max-height: 30%;
    object-fit: contain;
}

.datos_noticia{
    padding: 10px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 0.9em;
    color: #555;

    border: 1px solid #86C754;

}

.cuerpo_noticia{
    padding: 20px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6;

    border: 1px solid #86C754;


    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    gap: 1%;
}

.cuerpo_noticia p{
    grid-column-start: 1;
    grid-column-end: 5;
    
    margin-top: 20px;
    text-align: justify;
}

.cuerpo_noticia img{
    margin-top: 20px;
    max-width: 100%;
}

aside{
    grid-column-start: 1;

    display: flex;
    flex-direction: column;


    background-color: #ecf7b6;
    padding:10px;
}

.accion{
    margin-top: 10px;
    margin-inline: 5px;
    height: 5%;

    border-radius: 10px;
}


footer{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:4;


   
    background-color: #86C754;
    
}

.arriba_footer{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-align: center;
}

.copyright{
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;

}

.copyright p{
    font-size: small;
}
