<footer>
    <div class="arriba_footer">
        <div>
            <a href="mailto:davidbacas@correo.ugr.es"> Email de contacto </a>
        </div>
        <div>
            <a href="https://molvizar.es/"> Sitio web oficial del ayuntamiento </a>
        </div>
        <div>
            <a href="#"> Aviso legal </a>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2026 David Bacas. Todos los derechos reservados.</p>
    </div>
</footer>