<nav class="redes">
                    <div class="tiktok">
                        <a href="#"> 
                            <img src="imgs/iconos/tiktok.png" alt="Enlace a tiktok">
                        </a>
                    </div>

                    <div class="instagram">
                        <a href="#">
                            <img src="imgs/iconos/instagram.png" alt="Enlace a instagram">
                        </a>
                    </div>

                    <div class="twitter">
                        <a href="#"> 
                            <img src="imgs/iconos/twitter.png" alt="Enlace a Twitter">
                        </a>
                    </div>

                    <div class="imprimir">
                        <a href="noticia_imprimir.php?id={{ noticia.id }}">  
                            <img src="imgs/iconos/imprimir.png" alt="Imprimir noticia">
                        </a>
                    </div>
            </nav>